@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmerImage {
  background: linear-gradient(110deg, #ececec 25%, #e4e4e4e0 40%, #ececec 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

.shimmerText {
  background: linear-gradient(90deg, #ececec 25%, #e4e4e4e0 40%, #ececec 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 25%;
  padding: 5px;
  width: 70px;
  height: 30px;
}
